@page
@using Karrot.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@using Karrot.Data
@model Karrot.Pages.Products.DetailsModel
@inject KarrotDbContext Context

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/productDetails.css"/>
</head>

<div class="pd-wrap">
    <div class="container">
        <div class="heading-section">
            <h2>Product Details</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="item">
                    <img src="@Model.Image"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-dtl">
                    <div class="product-info">
                        <div class="product-name">@Html.DisplayFor(model => model.Product.ProductName)</div>
                        <div class="reviews-counter">
                            <span>@Model.Product.Owner.UserName</span>
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" checked/>
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" checked/>
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" checked/>
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2"/>
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1"/>
                                <label for="star1" title="text">1 star</label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <span class="address">@Model.Product.Address.City</span>
                    </div>
                    <div class="col-md-6">
                        <div class="product-price-discount">
                            <span>$@Html.DisplayFor(model => model.Product.ProductPrice)</span>
                        </div>
                    </div>

                    <p>@Html.DisplayFor(model => model.Product.ProductDescription)</p>

                    <div class="product-count">
                        <label for="size">Quantity</label>
                        <form action="#" class="display-flex">
                            <div class="qtyminus">-</div>
                            <input type="text" name="quantity" value="1" class="qty">
                            <div class="qtyplus">+</div>
                        </form>
                        <a class="btn round-black-btn" asp-page="../CartItems/Create" asp-route-id="@Model.Product.Id">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-to-list">
            <a asp-page="./Index">Back to List</a>
        </div>
        <div class="product-info-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">
                        Reviews
                        ( @Model.Comments.Count() )
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="description">@Html.DisplayFor(model => model.Product.ProductDescription)</div>
                <div id="review">

                    @if (Model.Comments != null || Model.Comments.Count > 0)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="list-group">
                                    @foreach (var comment in Model.Comments)
                                    {
                                        <div class="list-group-item">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">@comment.CommentUser.UserName</h5>
                                                <small>@comment.CommentCreated</small>
                                            </div>
                                            <p class="mb-1">@comment.CommentBody</p>
                                            @if (User.Identity.Name == comment.CommentUser.UserName)
                                            {
                                                <a class="rate" asp-page="./CommentDelete" asp-route-id="@comment.CommentId">
                                                    @* <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> *@
                                                    @*     <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> *@
                                                    @* </svg> *@
                                                    <svg class="trashcan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 24.8" style="enable-background:new 0 0 25 24.8;" xml:space="preserve"  data-ember-action="" data-ember-action-1015="1015" width="16" height="16" fill="currentColor" >
                                                        <g class="trashcan-open">
                                                            <path d="M18.7,24.4H5.9L4.9,7h14.9L18.7,24.4z M7.6,22.6H17l0.8-13.7h-11L7.6,22.6z"></path>
                                                            <polygon points="13.6,10.3 13.1,21.2 14.9,21.2 15.4,10.3 "></polygon>
                                                            <polygon points="11.5,21.2 11,10.3 9.2,10.3 9.7,21.2 "></polygon>
                                                            <path d="M19.1,0.7l-4.7,0.9l-0.8-1.4L8.2,1.3L8,3l-4.7,1l0.2,4.7l17.3-3.5L19.1,0.7z 
                                                                 
                                                                 M8.8,1.9l4.4 -1.0 l0.5,0.8
                                                                 L8.7,2.8z 
                                                                 
                                                                 M5.2,6.4l0-1L18,2.8l0.3,0.9L5.2,6.4z"></path>
                                                        </g>
                                                        <g class="trashcan-closed">
                                                            <path d="M6.8,8.8h11L17,22.6
                                                                 H7.6L6.8,8.8z 
                                                                 M4.9,7l1,17.4h12.8
                                                                 l1-17.4
                                                                 H4.9z"></path>
                                                            <polygon points="13.6,10.3 13.1,21.2 14.9,21.2 15.4,10.3 "></polygon>
                                                            <polygon points="11.5,21.2 11,10.3 9.2,10.3 9.7,21.2 "></polygon>
                                                            <path d="M20.4,4h-4.8l-0.5-1.6
                                                                 H9.5L9,4
                                                                 H4.2
                                                                 L3.5,8.6h17.6
                                                                 L20.4,4z 
                                                                 
                                                                 M9.9,3.2h4.8
                                                                 L14.9,3.9h-5.2z
                                                                 
                                                                 M5.6,6.7l0.2-1 h13l0.2,1
                                                                 H5.6z"></path>
                                                        </g>
                                                    </svg>
                                                </a>
                                            }
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="mb-20">There are no reviews yet.</p>
                    }


                    <div class="row">
                        <form method="post" class="d-flex flex-column gap-3">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Comment.CommentBody" class="control-label">Comment</label>
                                <textarea asp-for="Comment.CommentBody" class="form-control"></textarea>
                                <span asp-validation-for="Comment.CommentBody" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit Comment" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/productDetails.js" defer></script>