@page
@using System.Net.Mime
@using Microsoft.CodeAnalysis
@using Document = System.Reflection.Metadata.Document
@model Karrot.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr/>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="text-center" style="padding-bottom: 40px">
            <img id="productImage" src="@Model.Product.Image" alt=""
                 style="max-height: 400px; width: auto; height: auto"/>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id"/>
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control"/>
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label"></label>
                <input asp-for="Product.ProductDescription" class="form-control"/>
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductPrice" class="control-label"></label>
                <input asp-for="Product.ProductPrice" class="form-control"/>
                <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <br/>
                <select asp-for="Category" class="form-control section">
                    @foreach (var category in Model.Categories)
                    {
                        if (Model.CategoryId != category.CategoryId)
                        {
                            <option class="form-control" value="@category.CategoryId">@category.CategoryName</option>
                        }
                        else
                        {
                            <option class="form-control" value="@category.CategoryId" selected="selected">@category.CategoryName</option>
                        }
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <a asp-area="Identity" asp-page="/Account/Manage/Address">New Address</a>
                <br/>
                <select asp-for="Address" class="form-control section">
                    @foreach (var address in Model.Addresses)
                    {
                        if (Model.AddressId != address.AddressId)
                        {
                            <option class="form-control" value="@address.AddressId">@address.ToString()</option>
                        }
                        else
                        {
                            <option class="form-control" value="@address.AddressId" selected="selected">@address.ToString()</option>
                        }
                    }
                </select>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-lg btn-primary"/>
                <a class="btn btn-lg btn-danger" asp-area="Identity" asp-page="/Account/Manage/Products">Cancel</a>
            </div>
        </form>
    </div>
</div>


<div class="back-to-list">
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}