@page
@model Karrot.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    @* hero slider api *@
    <link rel="stylesheet" href="~/css/productList.css"/>
    <link rel="stylesheet" href="~/css/hero.css"/>

</head>
<h1>Index</h1>
<p>
    <a class="btn btn-primary" asp-page="Create" asp-route-returnUrl="@Model.ReturnUrl">Create New</a>
</p>

<section class="main-product">
    <div class="well well-sm">
        <div id="products" class="row product-list-group">
            @foreach (var item in Model.Product)
            {
                <div class="item  col-xs-4 col-md-3">
                    <div class="thumbnail">
                        <a asp-page="./Details" asp-route-id="@item.Id" class="main-a">
                            <img class="group list-group-image" src="@item.Image"/>
                        </a>
                        <div class="category">
                            <h5 class="category-name">@Html.DisplayFor(modelItem => item.Category.CategoryName)</h5>
                        </div>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </h4>

                            <p class="group inner list-group-item-heading" style="font-size: 1rem">
                                @Html.DisplayFor(modelItem => item.Address.AddressLine1) , @Html.DisplayFor(modelItem => item.Address.City)
                            </p>
                            <div class="product-row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        $@Html.DisplayFor(modelItem => item.ProductPrice)
                                    </p>
                                </div>
                                <div class="product-btn-group">
                                    <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-success" asp-page="../CartItems/Create" asp-route-id="@item.Id">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script src="~/js/productList.js" defer></script>