@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    @* hero slider api *@
    <link rel="stylesheet" href="~/css/hero.css"/>
    <link rel="stylesheet" href="~/css/productList.css"/>

</head>
<div class="text-center">

</div>


<!-- BODY -->
<div id="body__container">
    <section class="cd-hero js-cd-hero js-cd-autoplay">
        <ul class="cd-hero__slider">
            <li class="cd-hero__slide js-cd-slide cd-hero__slide--selected cd-hero__slide--from-right" style="background-image:url(https://assets.ca.karrotmarket.com/static/15a31e3d98598b453765c67c5a810d50/3bf55/e56aa3b7-49b5-4f63-b9ec-3a3735887dfe_img_bg_parallax-min.avif)">
                <div class="cd-hero__content cd-hero__content--full-width">
                    <h2>Gentle Lemur® Pet Bed</h2>
                    <p>No More Discomfort for Them,<br> No More Messes for You..</p>
                    <a href="www.gentlelemur.com" class="cd-hero__btn">Shop</a>
                    <a href="#0" class="cd-hero__btn cd-hero__btn--secondary">Learn More</a>
                </div> <!-- .cd-hero__content -->
            </li>
            <li class="cd-hero__slide js-cd-slide" style="background-image:url(https://assets.ca.karrotmarket.com/static/15a31e3d98598b453765c67c5a810d50/3bf55/e56aa3b7-49b5-4f63-b9ec-3a3735887dfe_img_bg_parallax-min.avif)">
                <div class="cd-hero__content cd-hero__content--full-width">
                    <h5>What is Karrot?</h5><br/>
                    <h2>A vibrant marketplace</h2>
                    <p>nurtured by your neighbours</p>
                    <a href="#0" class="cd-hero__btn cd-hero__btn--secondary">Learn More</a>
                </div> <!-- .cd-hero__content -->

                <div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
                </div> <!-- .cd-hero__content -->
            </li>
            <li class="cd-hero__slide js-cd-slide" style="background-image:url(https://gentlelemur.speedgabia.com/mall/board_data/new_09.png)">
                <div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
                </div> <!-- .cd-hero__content -->
                <div class="cd-hero__content cd-hero__content--full-width">
                                   @* <h2>Gentle Lemur® Pet Bed</h2> *@
                                   @* <p>No More Discomfort for Them,<br> No More Messes for You..</p> *@
                                   @* <a href="www.gentlelemur.com" class="cd-hero__btn">Shop</a> *@
                </div> <!-- .cd-hero__content -->
            </li>

        </ul> <!-- .cd-hero__slider -->

        <div class="cd-hero__nav js-cd-nav">
            <nav>
                <span class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker"></span>

                <ul>
                    <li class="cd-selected">
                        <a href="#0">Intro</a>
                    </li>
                    <li>
                        <a href="#0">JohnAbbott</a>
                    </li>
                    <li>
                        <a href="#0">Gentlelemur</a>
                    </li>
                </ul>
            </nav>
        </div> <!-- .cd-hero__nav -->
    </section> <!-- .cd-hero -->
    <!--FEATURE-->
</div>

<section class="main-product">
    <div class="main-lists">
        <h2 class="main-lists-title">What's popular right now</h2>
        <div class="well well-sm">
            <div id="products" class="row product-list-group">
                @{ var count = 1;}
                @foreach (var item in Model.Product)
                {
                    count++;
                    <div class="item  col-xs-4 col-md-5">
                        <div class="thumbnail">
                            <a asp-page="/Products/Details" asp-route-id="@item.Id" class="main-a">
                                <img class="group list-group-image" src="@item.Image"/>
                            </a>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading" style="font-size: 1.2rem">
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </h4>

                                <p class="group inner list-group-item-heading" style="font-size: 1rem">
                                    @Html.DisplayFor(modelItem => item.Address.AddressLine1) , @Html.DisplayFor(modelItem => item.Address.City)
                                </p>
                                <p class="group inner list-group-item-heading" style="font-size: 1rem">
                                    $@Html.DisplayFor(modelItem => item.ProductPrice)
                                </p>
                            </div>
                        </div>
                    </div>
                    if (count > 4)
                    {
                        break;
                    }
                }
            </div>
        </div>
        <a asp-page="/Products/Index" class="discover-more">Discover more</a>
    </div>
</section>
<script src="~/js/hero.js" defer></script>